.a{
    width: 100px;
    height: 100px;
    background: red;
    display: inline-block
}
.b{
    width: 100px;
    height: 100px;
    background: yellow;
    display: inline-block

}
.c{
    width: 100px;
    height: 100px;
    background: green;
    display: inline-block

}